<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <body class="text-center">
        <div class="col-md-10 mx-auto col-lg-5"></div>
      
      <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" action="/loginUser">
        {% csrf_token %}
        <div class="form-floating mb-3  " style="color: blue; ">
          <input type="text" class= "py-3 my-4"class="form-control" name="username" id="username" placeholder="username">
          <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3" style="color: blue; ">
          <input type="password" class="form-control" name=password id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" style="background-color: blue; color: white; border-radius: 10px;" type="submit">Sign up</button>
        <hr class="my-4">
        <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
      </form>
    </div>
  
  
  
      
    </body>
</html>